<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaixiang.cure.dao.LetterDOMapper">
  <resultMap id="BaseResultMap" type="com.kaixiang.cure.dataobject.LetterDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="first_letter_id" jdbcType="INTEGER" property="firstLetterId" />
    <result column="conversation_id" jdbcType="INTEGER" property="conversationId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="sender_status" jdbcType="INTEGER" property="senderStatus" />
    <result column="addressee_status" jdbcType="INTEGER" property="addresseeStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    id, first_letter_id, conversation_id, type, content, created_at, sender_status, addressee_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from letter
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="listLettersByConversationId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from letter
    where conversation_id = #{conversationId,jdbcType=INTEGER}
    order by created_at DESC;
  </select>
  <select id="listLettersByFirstLetterId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from letter
    where first_letter_id = #{firstLetterId,jdbcType=INTEGER}
    order by created_at DESC;
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from letter
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kaixiang.cure.dataobject.LetterDO">
    insert into letter (id, first_letter_id, conversation_id, 
      type, content, created_at, 
      sender_status, addressee_status)
    values (#{id,jdbcType=INTEGER}, #{firstLetterId,jdbcType=INTEGER}, #{conversationId,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{senderStatus,jdbcType=INTEGER}, #{addresseeStatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.kaixiang.cure.dataobject.LetterDO">
    insert into letter
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="firstLetterId != null">
        first_letter_id,
      </if>
      <if test="conversationId != null">
        conversation_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="senderStatus != null">
        sender_status,
      </if>
      <if test="addresseeStatus != null">
        addressee_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="firstLetterId != null">
        #{firstLetterId,jdbcType=INTEGER},
      </if>
      <if test="conversationId != null">
        #{conversationId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="senderStatus != null">
        #{senderStatus,jdbcType=INTEGER},
      </if>
      <if test="addresseeStatus != null">
        #{addresseeStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kaixiang.cure.dataobject.LetterDO">
    update letter
    <set>
      <if test="firstLetterId != null">
        first_letter_id = #{firstLetterId,jdbcType=INTEGER},
      </if>
      <if test="conversationId != null">
        conversation_id = #{conversationId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="senderStatus != null">
        sender_status = #{senderStatus,jdbcType=INTEGER},
      </if>
      <if test="addresseeStatus != null">
        addressee_status = #{addresseeStatus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kaixiang.cure.dataobject.LetterDO">
    update letter
    set first_letter_id = #{firstLetterId,jdbcType=INTEGER},
      conversation_id = #{conversationId,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      sender_status = #{senderStatus,jdbcType=INTEGER},
      addressee_status = #{addresseeStatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>