<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaixiang.cure.dao.UserDOMapper">
  <resultMap id="BaseResultMap" type="com.kaixiang.cure.dataobject.UserDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pseudonym" jdbcType="VARCHAR" property="pseudonym" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="stamp" jdbcType="INTEGER" property="stamp" />
    <result column="last_login_at" jdbcType="TIMESTAMP" property="lastLoginAt" />
    <result column="continuous_login_days" jdbcType="INTEGER" property="continuousLoginDays" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="role" jdbcType="VARCHAR" property="role" />
    <result column="allow_collect" jdbcType="BIT" property="allowCollect" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pseudonym, email, stamp, last_login_at, continuous_login_days, status, role, 
    allow_collect
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kaixiang.cure.dataobject.UserDO">
    insert into user_info (id, pseudonym, email, 
      stamp, last_login_at, continuous_login_days, 
      status, role, allow_collect
      )
    values (#{id,jdbcType=INTEGER}, #{pseudonym,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{stamp,jdbcType=INTEGER}, #{lastLoginAt,jdbcType=TIMESTAMP}, #{continuousLoginDays,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{role,jdbcType=VARCHAR}, #{allowCollect,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kaixiang.cure.dataobject.UserDO" keyProperty="id" useGeneratedKeys="true">
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pseudonym != null">
        pseudonym,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="stamp != null">
        stamp,
      </if>
      <if test="lastLoginAt != null">
        last_login_at,
      </if>
      <if test="continuousLoginDays != null">
        continuous_login_days,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="role != null">
        role,
      </if>
      <if test="allowCollect != null">
        allow_collect,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pseudonym != null">
        #{pseudonym,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="stamp != null">
        #{stamp,jdbcType=INTEGER},
      </if>
      <if test="lastLoginAt != null">
        #{lastLoginAt,jdbcType=TIMESTAMP},
      </if>
      <if test="continuousLoginDays != null">
        #{continuousLoginDays,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="role != null">
        #{role,jdbcType=VARCHAR},
      </if>
      <if test="allowCollect != null">
        #{allowCollect,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kaixiang.cure.dataobject.UserDO">
    update user_info
    <set>
      <if test="pseudonym != null">
        pseudonym = #{pseudonym,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="stamp != null">
        stamp = #{stamp,jdbcType=INTEGER},
      </if>
      <if test="lastLoginAt != null">
        last_login_at = #{lastLoginAt,jdbcType=TIMESTAMP},
      </if>
      <if test="continuousLoginDays != null">
        continuous_login_days = #{continuousLoginDays,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="role != null">
        role = #{role,jdbcType=VARCHAR},
      </if>
      <if test="allowCollect != null">
        allow_collect = #{allowCollect,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kaixiang.cure.dataobject.UserDO">
    update user_info
    set pseudonym = #{pseudonym,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      stamp = #{stamp,jdbcType=INTEGER},
      last_login_at = #{lastLoginAt,jdbcType=TIMESTAMP},
      continuous_login_days = #{continuousLoginDays,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      role = #{role,jdbcType=VARCHAR},
      allow_collect = #{allowCollect,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByEmail" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_info
    where email = #{email,jdbcType=VARCHAR}
  </select>
</mapper>